canvas {
  /* box-shadow: -3px 2px 9px 6px; */
  cursor: pointer;
  border: 2px solid black;
  background: white;
  width: 99%;
  position: absolute;
  bottom: -90%;
  right: 50%;
  transform: translate(50%);
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
  background: rgb(224, 224, 224);

  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0 10px;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  margin: 0 10px;
}

.color-picker {
  align-self: center;
  margin: 0 10px;
  height: 50px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

.field{
  position: absolute;
}